
* {
  border: 0;
  margin: 0;
}

body {
  background-color: #ecf0f1;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.wrapper div {
  margin: .4em 0;
}

.container {
  background-color: #1abc9c;
  padding: 5%;
  border-radius: .8em;
  max-width: 240px;
}

input, textarea, select {
  padding:10px;
  font-size:20px;
  text-align:left;
  border-width:0px;
  border-radius:4px;
  color:#9c59b6;
  }

  select {
      color:#DCC6E0;
    }

  textarea {
    max-width: 210px;
  }

input:focus { outline:none; }


input::-webkit-input-placeholder {
  color: #DCC6E0;
}

textarea::-webkit-input-placeholder {
  color: #DCC6E0;
}

.terms {
  font-size: 70%;
}
